@font-face {
  font-family: 'SFProDisplay-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff");
}

.call__title {
  font-family: 'SFProDisplay-Medium';
  font-weight: 500;
}

.title, .servises__item-title, .servises__item:hover .servises__item-link, .project-item-link {
  font-family: 'SFProDisplay-Bold';
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.title {
  font-size: 24px;
  line-height: 28px;
  position: relative;
  padding-bottom: 28px;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56x;
    position: relative;
    padding-bottom: 28px;
  }
}

.title::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header {
  background-color: #2B4074;
}

.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__img {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
}

.menu__btn::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

.head {
  background-image: url("../images/header-bg-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  min-height: 193px;
}

.top-slider__item {
  color: #fff;
  text-align: center;
}

.top-slider__title {
  font-family: 'SFProDisplay-Regular';
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 42px 28px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 65px;
}

.top-slider__title::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  background-color: #4A4A4A;
  margin: 0 auto;
}

.top-slider__text {
  display: none;
}

.top-slaider__btn {
  display: none;
}

.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: #2B4074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}

.top-slider .slick-dots button + .top-slider .slick-dots button {
  margin-left: 10px;
}

.top-slider .slick-dots.active {
  display: flex;
  justify-content: center;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slaider__btn {
    display: block;
    margin: 0 auto 113px;
    background-color: #2B4074;
    color: #f9f6e5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .slick-prev {
    background-color: #f9f6e5;
    bottom: calc(50% - 56px);
    padding-right: 4px;
  }
  .slick-next {
    background-color: #2B4074;
    top: calc(50% - 56px);
    padding-left: 4px;
  }
}

@media (min-width: 768px) {
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    display: block;
    max-width: 587px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 25px 0 32px;
  }
}

@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
  .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .slick-prev {
    background-color: #f9f6e5;
    bottom: calc(50% - 70px);
    padding-right: 4px;
  }
  .slick-next {
    background-color: #2B4074;
    top: calc(50% - 70px);
    padding-left: 4px;
  }
}

.call {
  background-color: #2B4074;
  padding: 40px 0;
}

.call__inner {
  text-align: center;
  margin: 0 auto;
}

.call__title {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.call__text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 40px;
}

.call__btn {
  text-transform: uppercase;
  background-color: #f9f6e5;
  color: #2B4074;
  border: none;
  padding: 16px;
  max-width: 200px;
  min-height: 50px;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 748px) {
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .call__wrapper {
    max-width: 427px;
  }
  .call__title {
    padding-top: 20px;
  }
  .call__text {
    margin-bottom: 0;
    max-width: 345px;
  }
}

@media (min-width: 1024px) {
  .call__wrapper {
    max-width: 720px;
  }
  .call__title {
    padding-top: 0;
  }
  .call__text {
    max-width: 500px;
  }
}

@media (min-width: 748px) {
  .call__inner {
    padding: 27px 80px;
  }
}

.servise {
  padding: 25px 0 40px;
  text-align: center;
}

.servise__title {
  margin-bottom: 47px;
  color: #2B4074;
}

.servise__descr {
  font-size: 22px;
  line-height: 20px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.servise__text {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
  color: #797979;
}

.servises__item {
  min-height: 310px;
  border: 1px solid #f9f6e5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  padding: 0 20px;
}

.servises__item:last-child {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servises__item-img {
  margin-bottom: 30px;
}

.servises__item-title {
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.servises__item-inner {
  transition: all 0.5s;
}

.servises__item-text,
.servises__item-link {
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
}

.servises__item-link {
  position: relative;
}

.servises__item-link::after {
  position: absolute;
  content: '';
  background-image: url(..//images/Arrow-etc.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 0;
  height: 10px;
  transition: all 1s ease-in;
  transform: translateY(50%);
}

.servises__item:hover .servises__item-title {
  margin-bottom: 30px;
}

.servises__item:hover .servises__item-inner {
  border: 4px solid #2B4074;
  margin: 18px 0;
  padding: 25px 20px 5px;
  min-height: 277px;
  transition: all 0.5s;
}

.servises__item:hover .servises__item-text {
  opacity: 1;
  overflow: visible;
  height: auto;
  font-size: 16px;
  line-height: 18px;
  color: #9b9b9b;
  margin-bottom: 18px;
}

.servises__item:hover .servises__item-link {
  opacity: 1;
  overflow: visible;
  height: auto;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2B4074;
  padding: 5px 20px;
  position: relative;
}

.servises__item:hover .servises__item-link::after {
  animation: arrow 3s ease-in  infinite;
}

@keyframes arrow {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@media (min-width: 640px) {
  .servise {
    padding: 24px 0 0;
  }
  .servise__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .servise__title::after {
    display: none;
  }
  .servise__descr {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 38px;
    margin-bottom: 31px;
    position: relative;
  }
  .servise__descr::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .servise__text {
    font-size: 18px;
    line-height: 24px;
  }
  .servises__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .servises__item {
    min-height: 310px;
    border: 1px solid #f9f6e5;
    width: 50%;
    padding: 0 20px;
  }
  .servises__item:nth-child(even) {
    border-left: none;
  }
  .servises__item:last-child {
    border-bottom: 1px solid #f9f6e5;
  }
}

@media (min-width: 768px) {
  .servise {
    padding: 50px 0 0;
  }
  .servise__title {
    margin-bottom: 30px;
  }
  .servise__descr {
    text-align: left;
  }
  .servise__descr::after {
    margin-left: 0;
  }
  .servise__text {
    margin-bottom: 27px;
    text-align: left;
  }
  .servises__items {
    margin: 0 -40px;
  }
  .servises__item {
    min-height: 334px;
    padding: 0 20px;
  }
  .servises__item:hover .servises__item-inner {
    padding: 35px 34px 5px;
    min-height: 288px;
  }
}

@media (min-width: 1024px) {
  .servise {
    padding: 52px 0 0;
  }
  .servise__title {
    margin-bottom: 60px;
  }
  .servise__descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .servise__text {
    margin-bottom: 32px;
    max-width: 608px;
  }
  .servises__items {
    margin: 0;
  }
  .servises__item {
    width: 25%;
    min-height: 277px;
    padding: 0 17px;
  }
  .servises__item:nth-child(2),
  .servises__item:nth-child(6) {
    border-right: none;
  }
  .servises__item:hover .servises__item-inner {
    margin: 10px 0;
    padding: 20px 9px 5px;
    min-height: 255px;
  }
}

@media (min-width: 1440px) {
  .container {
    position: relative;
  }
  .servises__inner {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 -100px 0 0;
  }
  .servise {
    padding: 0;
  }
  .servises__head {
    min-width: 350px;
    max-width: 350px;
    margin-right: 100px;
  }
  .servise__title {
    text-align: left;
    margin: 90px 0 70px;
  }
  .servise__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .servises__items {
    margin: 0;
  }
  .servises__item {
    width: 240px;
    padding: 0 5px;
    height: 273px;
  }
  .servises__item:hover {
    padding: 0 5px;
  }
  .servises__item:hover .servises__item-inner {
    margin: 5px 0;
    padding: 10px 3px 5px;
    min-height: 255px;
  }
}

.project {
  text-align: center;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  padding: 20px 0;
}

.project__title {
  color: #ffffff;
  margin-bottom: 40px;
}

.title::after .project__title::after {
  color: #ffffff;
}

.project__item-img {
  padding: 14px;
}

.ptoject__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 254px;
  min-height: 227px;
  background: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
}

.project-item-info,
.project-item-search {
  margin: 0 7px;
  max-width: 30px;
}

.project-item-info img,
.project-item-search img {
  width: 100%;
}

.project-item-link {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
}

.img-1,
.img-2,
.img-3,
.img-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  min-height: 250px;
}

.img-1 {
  background-image: url(../images/project/portfolio-1.png);
}

.img-2 {
  background-image: url(../images/project/portfolio-2.png);
}

.img-3 {
  background-image: url(../images/project/portfolio-3.png);
}

.img-4 {
  background-image: url(../images/project/portfolio-4.png);
}
