@font-face {
  font-family: 'SFProDisplay-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
  src: url('../fonts/SFProDisplay-Medium.woff') format('woff');
}


@font-face {
  font-family: 'SFProDisplay-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
  src: url('../fonts/SFProDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  src: url('../fonts/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2');
  src: url('../fonts/SFProDisplay-Semibold.woff') format('woff');
}

