@import "fonts";
@import "vars";
@import "global";

.header{
  background-color: $accent;
}

.header__inner{
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 640px) {
  .header__inner {
   min-height: 100px;
  }
}

.logo__img{
  margin-left: 8px;
}
@media (min-width: 640px){
  .logo__link{
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn{
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #fff;
  border:none;
  position: relative;
  cursor: pointer;
}

.menu__btn::after{
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: $accent;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 $accent,
              0 8px 0 0 $accent;
}

.head {
  background-image: url('../images/header-bg-img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}


@media (min-width: 640px) {
  .head {
    min-height: 386px;
    
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  min-height: 193px;
}

.top-slider__item {
  color: #fff;
  text-align: center;
  
}

.top-slider__title {
  font-family: 'SFProDisplay-Regular';
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 42px 28px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 65px;
}

.top-slider__title::after {
position: absolute;
content: '';
left: 0;
right: 0;
bottom: 0;
height: 8px;
width: 61px;
background-color: $grey;
margin: 0 auto;
}
.top-slider__text{
 display: none;
}
.top-slaider__btn {
  display: none;
}

.top-slider .slick-dots{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: $accent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;

}
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;

}
.top-slider .slick-dots button + .top-slider .slick-dots button {
  margin-left: 10px;
}
.top-slider .slick-dots.active {
  display: flex;
  justify-content: center;
}
@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title{
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slaider__btn{
    display: block;
    margin: 0 auto 113px;
    background-color: $accent;
    color: $bg-color;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .slick-arrow{
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
    
  }
  .slick-prev {
    background-color: $bg-color;
    bottom: calc(50% - 56px);
    padding-right: 4px;
  }
  .slick-next {
    background-color: $accent;
    top: calc(50% - 56px);
    padding-left: 4px;
  }
}

@media (min-width: 768px) {
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top-slider__item{
    min-height: 465px;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    display: block;
    max-width: 587px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 25px 0 32px;
    
  }
}
@media (min-width: 1024px) {
  
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  
  .top-slider .slick-dots {
     bottom: 80px;
  }
}
@media (min-width: 1440px) {

  .top-slider__item {
    min-height: 668px;
  }

  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .top-slider__text{
  font-size: 24px;
  line-height: 26px;
  max-width: 886px;
}
  .top-slider .slick-dots {
    bottom: 80px;
  }
  .slick-arrow {
    width: 70px;
    height: 70px;
    

  }

  .slick-prev {
    background-color: $bg-color;
    bottom: calc(50% - 70px);
    padding-right: 4px;
  }

  .slick-next {
    background-color: $accent;
    top: calc(50% - 70px);
    padding-left: 4px;
  }
}

.call {
  background-color: $accent;
  padding: 40px 0;
}
.call__inner{
  text-align: center;
margin: 0 auto;
}


.call__title {
  @extend %medium-500;
  font-size: 24px;
  line-height: 24px;
  color: $text-color;
  margin-bottom: 15px;
}

.call__text {
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  margin-bottom: 40px;
}

.call__btn {
  text-transform: uppercase;
  background-color: $bg-color;
  color: $accent;
  border: none;
  padding: 16px;
  max-width: 200px;
  min-height: 50px;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 748px) {
  
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    }
    .call__wrapper{
      max-width: 427px;
    }
    .call__title {
      padding-top: 20px;
    }
    .call__text{
      margin-bottom: 0;
      max-width: 345px;
    }
}
@media (min-width: 1024px) {
  .call__wrapper {
    max-width: 720px;
  }
  .call__title {
    padding-top: 0;
  }
  .call__text {
    max-width: 500px;
  }
}
@media (min-width: 748px) {
  .call__inner {
    padding: 27px 80px;
  }
 
}

.servise {
  padding: 25px 0 40px;
  text-align: center;
}



// .serviser__inner {}



.servise__title {
  margin-bottom: 47px;
  color: $accent;
}

.servise__descr {
  font-size: 22px;
  line-height: 20px;
  color: $grey;
  margin-bottom: 20px;
}
.servise__text {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
  color: #797979;
}

// .servises__items {}

.servises__item {
  min-height: 310px;
  border: 1px solid $bg-color;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  padding: 0 20px;


}
.servises__item:last-child {
  min-height: 310px;
  border: 1px solid $bg-color;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  border-bottom:1px solid $bg-color;

}



.servises__item-img {
  margin-bottom: 30px;
  
}

.servises__item-title {
  @extend %bold-700;
  font-size: 16px;
  line-height: 19px;
  color: $grey;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.servises__item-text,
.servises__item-link {
display: none;

}
.servises__item-link{
  position: relative;
}
.servises__item-link::after{
  position: absolute;
  content: '';
  background-image:url(..//images/Arrow-etc.svg);
  background-repeat: no-repeat;
  background-position: right center;
    width: 0;
  height: 10px;
  transition: all 1s ease-in;
  transform: translateY(50%);
}
.servises__item:hover,
 {
  
 
  .servises__item-title{
    margin-bottom: 30px;
}
  .servises__item-inner {
  border: 4px solid $accent;
  margin: 18px 0;
  padding: 25px 20px 5px;
  min-height: 277px;
}
 
  .servises__item-text {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color:$default;
  margin-bottom: 18px;
  }

  .servises__item-link {
  display: inline-block;
  @extend %bold-700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $accent;
  padding: 5px 20px;
  position: relative;
  }
 .servises__item-link::after{
   animation: arrow 3s ease-in  infinite;
   @keyframes arrow{
     0% {
       width: 0;
     }
     50% {
       width: 30px;
     }
   100% {width: 0;}
   }
 }

}